[Desktop Entry]
Name=Log Out
Exec=busctl --user call org.kde.LogoutPrompt /LogoutPrompt org.kde.LogoutPrompt promptLogout
Icon=system-log-out
Type=Application
